// colors ts tec
$firefly : #0e1d27;
$cello : #1e425a;
$nepal : #677e90;
$link-water : #c8e7f2;


$crimson: #db1430;
$steel-gray: #201f2b;
$charade: #2f2e3c;
$gray: #f2f3f8;
$mid-gray: #575962;
$egg-blue: #00C5DC;
$dodger-blue: #36A3F7;
$royal-blue: #5867DD;
$manatee: #868aa8;